/* import any web fonts from Google Fonts or another server */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: 'Roboto', sans-serif; /* imported up here */
  font-family: 'Noto Sans', sans-serif; /* linked in the html head section */
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.8rem;
}
p {
  font-size: 1.5rem;
  font-weight: 100;
}